.attribution {
  padding: 1rem 0;
  font-size: 1.1rem;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

#bg-down {
  position: absolute;
  bottom: 0;
  left: 0;
}

#bg-up {
  position: absolute;
  top: 0;
  right: 0;
}

main {
  min-height: 100vh;
  background: $background-color;
  @include flex(column, center, center);
  gap: 6rem;
}

.ann-mon {
  color: $ann-mon-color;
}

.pricing,
.features {
  color: $gray-features-color;
}

.pricing-professional .features {
  color: $background-color;
}

.pricing-switch {
  z-index: 1;
  @include flex(column, center, center);
}

.pricing {
  margin-bottom: 3rem;
}

.ann-mon {
  @include flex(row, center, center);

  p {
    padding: 0 2.5rem;
  }
}

.switch-container {
  cursor: pointer;
  background: $gradient-purple;
  height: 2.5rem;
  width: 5rem;
  border-radius: 4rem;
  position: relative;
  transition: 0.5s;
}

.switch {
  transition: 0.2s;
  position: absolute;
  left: 0;
  height: 100%;
  width: 50%;
  background: white;
  border-radius: 4rem;
  transform: scale(0.75);
}

.pricing-options {
  z-index: 1;
  @include flex(row, center, center);
}

.pricing-option-container {
  min-width: 33rem;
  background: $gradient-purple;
  text-align: center;
  box-shadow: 0rem 1rem 1.5rem 0.3rem rgba(24, 9, 51, 0.068);
}

.pricing-option {
  padding: 3rem;
}

.price {
  margin-top: 2rem;
  font-size: 7.2rem;
  color: $price-color;
  @include flex(row, center, center);
}

.dollar {
  font-size: 3.6rem;
}

.basic,
.master {
  background: white;
}

.basic {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.master {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.basic .title,
.master .title {
  color: $gray-features-color;
}

.professional {
  min-width: 39rem;
  border-radius: 1rem;
  padding: 3rem 3rem;
}

.professional .title {
  color: rgb(255, 255, 255);
}

.basic .price,
.master .price {
  color: $price-color;
}

.professional .price {
  color: white;
}

.professional .features {
  color: white;
}

.features {
  padding: 3rem 0;
}

.features p {
  border-top: 1px solid hsla(234, 14%, 74%, 0.329);
  padding: 1.5rem 0;
}

.send {
  border-bottom: 1px solid hsla(234, 14%, 74%, 0.329);
}

.pricing-option button {
  letter-spacing: 0.3rem;
  width: 100%;
  padding: 1rem 0;
}

.purple,
.white {
  cursor: pointer;
  transition: 0.1s ease-out;
}

.purple {
  background: linear-gradient(120deg, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  color: white;
  box-shadow: 0 0 0 1px transparent;

  &:hover {
    box-shadow: 0 0 0 1px $purple;
    color: $purple;
    background: white;
  }
}

.white {
  background: white;
  color: $purple;
  box-shadow: 0 0 0 1px transparent;

  &:hover {
    color: white;
    background: transparent;
    box-shadow: 0 0 0 1px white;
  }
}
