* {
  margin: 0;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.attribution {
  padding: 1rem 0;
  font-size: 1.1rem;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.attribution a {
  color: #3e52a3;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 1.8rem;
}

p {
  font-size: 1.5rem;
}

button {
  border: none;
  border-radius: 0.5rem;
  font-size: 1.3rem;
  font-weight: 800;
  letter-spacing: 0.105em;
}

#bg-down {
  position: absolute;
  bottom: 0;
  left: 0;
}

#bg-up {
  position: absolute;
  top: 0;
  right: 0;
}

main {
  height: 100vh;
  background: #f6f6fe;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6rem;
}

.ann-mon {
  color: #b3b5c6;
}

.pricing,
.features {
  color: #6d708d;
}

.pricing-professional .features {
  color: #f6f6fe;
}

.white {
  background: white;
  color: #a3a8f0;
}

.pricing-switch {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pricing {
  margin-bottom: 3rem;
}

.ann-mon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ann-mon p {
  padding: 0 2.5rem;
}

.switch-container {
  cursor: pointer;
  background: -webkit-gradient(linear, left top, left bottom, from(#a3a8f0), to(#696fdd));
  background: linear-gradient(180deg, #a3a8f0, #696fdd);
  height: 140%;
  width: 5rem;
  border-radius: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.switch-container:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.switch {
  height: 100%;
  width: 50%;
  background: white;
  border-radius: 3rem;
  -webkit-transform: scale(0.75);
          transform: scale(0.75);
}

.pricing-options {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pricing-option-container {
  border-radius: 1rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#a3a8f0), to(#696fdd));
  background: linear-gradient(180deg, #a3a8f0, #696fdd);
  text-align: center;
  -webkit-box-shadow: 0rem 1rem 1.5rem 0.3rem rgba(24, 9, 51, 0.068);
          box-shadow: 0rem 1rem 1.5rem 0.3rem rgba(24, 9, 51, 0.068);
}

.professional {
  position: relative;
  z-index: 1;
}

.pricing-option {
  padding: 3rem;
}

.price {
  margin-top: 2rem;
  font-size: 7.2rem;
  color: #494c5f;
}

.pricing-basic,
.pricing-master {
  background: white;
}

.pricing-basic {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.pricing-master {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.pricing-basic .title,
.pricing-master .title {
  color: #6d708d;
}

.pricing-professional {
  padding: 6rem 3rem;
}

.pricing-professional .title {
  color: white;
}

.pricing-basic .price,
.pricing-master .price {
  color: #494c5f;
}

.pricing-professional .price {
  color: white;
}

.features {
  padding: 3rem 0;
}

.features p {
  border-top: 1px solid rgba(179, 181, 198, 0.329);
  padding: 1.5rem 0;
}

.send {
  border-bottom: 1px solid rgba(179, 181, 198, 0.329);
}

.pricing-option button {
  letter-spacing: 0.3rem;
  width: 100%;
  padding: 1rem 0;
}

.purple,
.white {
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.purple {
  font-weight: 900;
  background: linear-gradient(120deg, #a3a8f0, #696fdd);
  color: white;
}

.purple:hover,
.white:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
/*# sourceMappingURL=style.css.map */