* {
  margin: 0;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 1.8rem;
}

p {
  font-size: 1.5rem;
}

button {
  border: none;
  border-radius: 0.5rem;
  font-size: 1.3rem;
  font-weight: 800;
  letter-spacing: 0.105em;
}

.attribution {
  padding: 1rem 0;
  font-size: 1.1rem;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.attribution a {
  color: #3e52a3;
}

#bg-down {
  position: absolute;
  bottom: 0;
  left: 0;
}

#bg-up {
  position: absolute;
  top: 0;
  right: 0;
}

main {
  min-height: 100vh;
  background: #f6f6fe;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6rem;
}

.ann-mon {
  color: #b3b5c6;
}

.pricing,
.features {
  color: #6d708d;
}

.pricing-professional .features {
  color: #f6f6fe;
}

.pricing-switch {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pricing {
  margin-bottom: 3rem;
}

.ann-mon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ann-mon p {
  padding: 0 2.5rem;
}

.switch-container {
  cursor: pointer;
  background: -webkit-gradient(linear, left top, left bottom, from(#a3a8f0), to(#696fdd));
  background: linear-gradient(180deg, #a3a8f0, #696fdd);
  height: 2.5rem;
  width: 5rem;
  border-radius: 4rem;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.switch {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  position: absolute;
  left: 0;
  height: 100%;
  width: 50%;
  background: white;
  border-radius: 4rem;
  -webkit-transform: scale(0.75);
          transform: scale(0.75);
}

.pricing-options {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pricing-option-container {
  min-width: 33rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#a3a8f0), to(#696fdd));
  background: linear-gradient(180deg, #a3a8f0, #696fdd);
  text-align: center;
  -webkit-box-shadow: 0rem 1rem 1.5rem 0.3rem rgba(24, 9, 51, 0.068);
          box-shadow: 0rem 1rem 1.5rem 0.3rem rgba(24, 9, 51, 0.068);
}

.pricing-option {
  padding: 3rem;
}

.price {
  margin-top: 2rem;
  font-size: 7.2rem;
  color: #494c5f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dollar {
  font-size: 3.6rem;
}

.basic,
.master {
  background: white;
}

.basic {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.master {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.basic .title,
.master .title {
  color: #6d708d;
}

.professional {
  min-width: 39rem;
  border-radius: 1rem;
  padding: 3rem 3rem;
}

.professional .title {
  color: white;
}

.basic .price,
.master .price {
  color: #494c5f;
}

.professional .price {
  color: white;
}

.professional .features {
  color: white;
}

.features {
  padding: 3rem 0;
}

.features p {
  border-top: 1px solid rgba(179, 181, 198, 0.329);
  padding: 1.5rem 0;
}

.send {
  border-bottom: 1px solid rgba(179, 181, 198, 0.329);
}

.pricing-option button {
  letter-spacing: 0.3rem;
  width: 100%;
  padding: 1rem 0;
}

.purple,
.white {
  cursor: pointer;
  -webkit-transition: 0.1s ease-out;
  transition: 0.1s ease-out;
}

.purple {
  background: linear-gradient(120deg, #a3a8f0, #696fdd);
  color: white;
  -webkit-box-shadow: 0 0 0 1px transparent;
          box-shadow: 0 0 0 1px transparent;
}

.purple:hover {
  -webkit-box-shadow: 0 0 0 1px #a3a8f0;
          box-shadow: 0 0 0 1px #a3a8f0;
  color: #a3a8f0;
  background: white;
}

.white {
  background: white;
  color: #a3a8f0;
  -webkit-box-shadow: 0 0 0 1px transparent;
          box-shadow: 0 0 0 1px transparent;
}

.white:hover {
  color: white;
  background: transparent;
  -webkit-box-shadow: 0 0 0 1px white;
          box-shadow: 0 0 0 1px white;
}

@media screen and (max-width: 1140px) {
  html {
    font-size: 45%;
  }
}

@media screen and (max-width: 830px) {
  body {
    position: relative;
  }
  html {
    font-size: 62.5%;
  }
  .pricing-switch {
    margin-top: 5rem;
  }
  .pricing-options {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .pricing-options {
    gap: 4rem;
    margin-bottom: 8rem;
  }
  .pricing-option-container {
    width: 100%;
    border-radius: 1rem;
  }
  .professional {
    padding: 0rem;
  }
  .attribution {
    bottom: 0;
  }
}

@media screen and (max-width: 375px) {
  html {
    font-size: 50%;
  }
}

.switch-montly {
  background: #d2d5ff;
}

.switch-montly .switch {
  left: 50%;
}

.dissolve {
  animation: dissolve_anim 0.3s ease-in-out alternate-reverse;
}

@-webkit-keyframes dissolve_anim {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes dissolve_anim {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */